<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/sobre.css">
    <title>jornadadev/sobre</title>
</head>

<body class="page">
    <header class="header">
        <div class="content">
            <a href="../../index.html" target="_blank" class="logo"><img src="../img/logoJornadaDEV.png"
                    title="logo jornadadev"></a>

            <input class="mobile-btn" type="checkbox" id="mobile-btn" />
            <label class="mobile-icon" for="mobile-btn"><span class="hamburguer"></span></label>

            <ul class="nav">
                <li><a href="../../index.html" title="Home">Home</a></li>
                <li><a href="#" title="Sobre" class="foco">Sobre</a></li>
                <li><a href="../templates/inscricao.html" title="Artigos">Inscrições</a></li>
            </ul>
        </div><!--content-->
    </header>
    <!-- main inicio -->
    <main class="page">

        <section>
            <div class="">
                <h1>Onde pessoas
                    e tecnologias
                    entram em sintonia</h1>
                <img src="../img/team-mobile-web-app-development_107791-12795.jpg" alt="">
                <p>A Jornada Dev é um curso completo e imersivo, que te leva do zero ao nível profissional em
                    desenvolvimento
                    de software, com foco nas tecnologias mais requisitadas do mercado.</p>
            </div>
            <div class="containers">

                <h1>Juntos pela revolução digital</h1>
                <img src="../img/laptop-com-icone-de-codigo-isometrico-de-programa-desenvolvimento-de-software-e-aplicacoes-de-programacao-neon-escuro_39422-971.avif"
                    alt="">
                <ul>
                    <h2>Na Jornada Dev você vai:</h2>
                    <li>Dominar as principais linguagens de programação</li>
                    <li>Aprender os frameworks mais utilizados</li>
                    <li>Desenvolver suas habilidades em bancos de dados</li>
                    <li>Criar projetos completos e profissionais</li>
                </ul>

            </div>
            <div class="MVVL">
                <div>
                    <h2>Missão</h2>
                    <p>Democratizar o acesso ao ensino de qualidade em desenvolvimento de software, formando
                        profissionais completos e preparados para os desafios do mercado de trabalho.</p>
                </div>
                
            </div>
            <div class="MVVL">
                <div>
                    <h2>Visão</h2>
                    <p>Ser a referência em educação para desenvolvedores, transformando vidas através da tecnologia.</p>
                </div>
                
            </div>
            <div class="MVVL">
                <div>
                    <h2>Valores</h2>
                    <p>Buscamos a excelência em tudo que fazemos, desde a qualidade do nosso conteúdo até o atendimento aos nossos alunos.Estamos sempre buscando novas formas de ensinar e aprender, para que nossos alunos estejam sempre atualizados com as últimas tecnologias.</p>
                </div>
                
            </div>
        </section>

    </main>
    </main>
    <!-- main fim -->

    <!-- footer inicio -->
    <footer>
        <p>Acesse nosso instagram <a href="jornadadev@gmail.com">@jornada.dev</a></p>
    </footer>
    <!-- footer fim -->

</body>

</html>